.navbar {
  background-color: cornflowerblue;
  color: black;
  display: flex;
  justify-content: space-around;
}
.nav-link {
  color: black;
  padding: 1rem;
  font-size: 2rem;
}
.browse-recipes,
.recipe-search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.recipe-card-image {
  height: 300px;
  width: 300px;
  background-color: #2f3238;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-card img {
  max-height: 300px;
  max-width: 300px;
}
.recipe-card {
  width: 300px;
  margin: 0.5rem;
  text-align: center;
}
.recipe-card h2 {
  margin: 7px;
}
.recipe-card h3 {
  margin: 4px;
}
.recipe-card h4 {
  margin: 4px;
}
.recipe-card p {
  margin: 4px;
}
.new-recipe {
  height: 100vh;
  width: 100vw;
}
.recipe-input-form,
.recipe-form-cuisine,
.recipe-form-ingred {
  margin: 5%;
}
.recipe-name-i {
  width: 100%;
  margin: 15px;
}
.top-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  justify-content: space-around;
}
.ingred-search,
.cuisine-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ingred-search p {
  margin: 0 0 0 15px;
}
.middle-input {
  display: flex;
  flex-direction: column;
}
.add-cuisine-ingred {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}
.recipe-form-cuisine {
  grid-area: 1 / 1 / 2 / 2;
}
.recipe-form-ingred {
  grid-area: 1 / 2 / 2 / 3;
}
